body
{
    background: black ;
}

.block
{
    background: linear-gradient( #200122 0%, #6f0000  51%, #200122  100%);
}

.dropdown-background
{
    background-image: linear-gradient( #200122 0%, #6f0000  51%, #200122  100%);
}

.block p 
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-menu
{
    background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);
}

.btn-menu
{
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
}

.btn-menu:hover
{
   background-position: right center; /* change the direction of the change here */
   color: white;
   text-decoration: none;
}

/* Neon Button */

.btn-grad
{
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}
.btn-grad:hover
{
    background:  linear-gradient( #200122 0%, #6f0000  51%, #200122  100%);
    color: white;
    box-shadow: 0 0 5px #870000,
                0 0 25px #870000,
                0 0 50px #870000,
                0 0 200px #870000;
}

.btn-grad span 
{
    position: absolute;
    display: block;
}

.btn-grad span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, red);
    animation: animate1 1s linear infinite;
}

@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%, 100%
    {
        left: 100%;
    }
}
.btn-grad span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, red);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%, 100%
    {
        top: 100%;
    }
}

.btn-grad span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, red);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%, 100%
    {
        right: 100%;
    }
}

.btn-grad span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, red);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%, 100%
    {
        bottom: 100%;
    }
} 
.hr-color
{
    height: 1px;
    background-color: #ccc;
    border: none;
}

/* Button nav */
.btn-nav
{
    position: relative;
    display: inline-block;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
}

.btn-nav:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px) ;
    background:black;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}

.btn-nav:hover::before
{
    transform: scaleY(0);
}

.btn-nav:after
{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px) ;
    background: black;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.btn-nav:hover::after
{
    transform: scaleX(0);
}


.btn-nav span
{
    position:  relative;
    z-index: 3;
}

.table-bg
{
    background: linear-gradient( #200122 0%, #6f0000  51%, #200122  100%);
}

/* Login */

.log
{
    background: linear-gradient( #200122 0%, #6f0000  51%, #200122  100%);
}

nav
{
    background: black !important;
    border-bottom: 1px solid white;
    border-bottom-color: white;
}